doctype html
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    script(src="static/js/lib/traceur.js")
    script(src="static/js/lib/system.js")
    script(src="static/js/build.js")
    script.
      System.config({baseURL: '/static/js'});

      System.import('app/app').then(function(app) {
        var paramString = window.location.search.substring(1)
          , queryParams = (function() {
              return paramString.split("&").reduce(function(params, paramKVPair) {
                  var pair = paramKVPair.split('='); 
                  params[pair[0]] = decodeURIComponent(pair[1]); 
                  return params;
              }, {});
            }());
        $(function() { app['default'](paramString, queryParams['server']) });
      });

    link(rel="stylesheet", href="static/css/style.css")

  body
    #chrome
      progress(max="1.0", value="0")
      label#search-btn.btn.mode-btn(data-toggle="tooltip", data-placement="bottom" title="Click on a word to search for it in the document set while in this mode.")
        input(id="search-mode", type="radio", name="mode", "value"="search", class="accessibility")
        span Search Mode
      label#eraser-btn.btn.mode-btn(data-toggle="tooltip", data-placement="bottom" title="Click on a word to hide it from the word cloud while in this mode.")
        input(id="eraser-mode", type="radio", name="mode", "value"="eraser", class="accessibility")
        span Eraser Mode

      span#hidden-count.initially-hidden 0
      button#hidden-btn.initially-hidden Hidden Words
      section#hidden-list.initially-hidden
        header
          span.close
          h1 Hidden Words
          p.to-show.instructions Click on a word below to add it back to the cloud.
          p.to-hide.instructions You haven&rsquo;t hidden any words yet. To hide a word, just click on it while in Eraser Mode.
        ul

    #cloud-container