doctype html
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    script(src="static/js/lib/traceur.js")
    script(src="static/js/lib/system.js")
    script(src="static/js/build.js")
    script.
      var paramString = window.location.search.substring(1);
      var queryParams = (function() {
        var queryParams = {};
        var paramStrings = window.location.search.substring(1).split("&");
        paramStrings.forEach(function(paramString) {
          var pair = paramString.split('='); 
          queryParams[pair[0]] = decodeURIComponent(pair[1]); 
        })
        return queryParams;
      }());

      System.config({
        baseURL: '/static/js'
      });

      System.import('app/app').then(function(app) {
        $(function() { app['default'](paramString, queryParams['server']) });
      });

    link(rel="stylesheet", href="static/css/style.css")

  body
    progress(max="1.0", value="0")
    button#hidden-btn Hidden Words
    button.delete

    section#hidden-list
      header
        span.close
        h1.accessibility Hidden Words
        p.to-show.instructions Click on a word below to add it back to the cloud.
        p.to-hide.instructions You haven&rsquo;t hidden any words yet. To hide a word, hover over it and click the close icon.
      ul

    #cloud-container
  //
    button#edit(style="display:none") Edit
    #cloud-editor(style="display:none")
      form
        fieldset
          label Words to Show

        fieldset
          label Words to Hide

      button#apply.
        Save