<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <style>
            * { margin: 0; padding: 0; }
            progress {
                position: absolute;
                width: 200px;
                left: 50%;
                margin-left: -100px;
                top: 50%;
                margin-top: -20px;
            }
        </style>
    </head>
    <body>
        <div id="cloud-container">
            <progress></progress>
        </div>
        <!-- 
          Using almond.js or similar could make the below a bit faster.
          Also, the d3 wordcloud lib could be minified.
        -->
        <script src="/static/js/modernizr.custom.js"></script>
        <script>
            Modernizr.load([{
                load: '/static/js/jquery-2.1.1.min.js', //'//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js',
                complete: function() {
                    if(!window.jQuery) {
                        Modernizr.load('/static/js/jquery-2.1.1.min.js');
                    }
                }
            }, {
                test: Modernizr.progressbar,
                nope: ['/static/js/progress-polyfill.min.js', '/static/css/progress-polyfill.css']
            }, {
                load: ['/static/js/rsvp.min.js', '/static/js/heap.js']
            }, {
                load: ['/static/js/wordcloud2.js']
            }, {
                load: ['/static/js/app.js'],
                complete: function() {
                    var queryParams = (function() {
                        var queryParams = {};
                        var paramStrings = window.location.search.substring(1).split("&");
                        paramStrings.forEach(function(paramString) {
                            var pair = paramString.split('='); 
                            queryParams[pair[0]] = decodeURIComponent(pair[1]); 
                        })
                        return queryParams;
                    }());

                    //do the base64 encoding server side, so we don't have to write
                    //js logic for it (as i think only IE10+ supports this natively)
                    var apiTokenEncoded = "{{api_token_encoded}}";

                    App(jQuery, RSVP, Heap, WordCloud, queryParams.server, apiTokenEncoded, 
                        queryParams.documentSetId);                    
                }
            }])
        </script>   
    </body>
</html>